{% extends "body.html" %}
{% block content %}
	<div class="container" role="main">
		<div class="jumbotron">
			<h3 style="margin: 0px; padding: 0px;">Create Project</h3>
		</div>
		<div class="panel panel-default">
			<form method="post" action="/project/add" class="panel-body validate">
				{% csrf_token %}
				<label for="name">Project Name</label>
				<h6 style="color:red">{{ error }}</h6>
				<input type="text" name="name" id="name" placeholder="Name" class="form-control" data-bvalidator="required" data-bvalidator-msg="Name Required">
				<br>
				<label for="description">Project Description</label>
				<input type="text" name="description" id="description" placeholder="Please provide a description of the project." class="form-control" data-bvalidator="required" data-bvalidator-msg="Description Required">
				<br>
				<label for="description">Project Qualifications</label>
				<input type="text" name="description" id="description" placeholder="Please provide qualifications." class="form-control" data-bvalidator="required" data-bvalidator-msg="Description Required">
				<br>
				<input type="submit" value="Submit" class="btn btn-primary">
			</form>
		</div>
	</div>
{% endblock %}
