{% extends "body.html" %}

{% block content %}
	
	<!-- Content -->
	<div class="container" role="main">
		<div class="jumbotron" style="background-color:#FFF0DE">
			<h3 style="margin: 0px; padding: 0px;">Projects</h3>
		</div>
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Project</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					{% for project in projects %}
					<tr>
                        <td><a href="/project?name={{ project.name }}">{{ project.name }}</a></td>
                        <td>{{ project.description }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
