{% extends "body.html" %}

{% block head_title %}{{ page_name }} | {% endblock %}

{% block content %}

<script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="/static/django_tinymce/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/django_tinymce/init_tinymce.js"></script>

<div class="container" role="main">
	<div class="panel panel-default">
		<form method="POST" class="panel-body validate"> {% csrf_token %}
			{{ form.as_p }}
			{{ form2.as_p }}
			<input type="submit" class='btn btn-primary' value="{{ button_value }}">
		</form>
	</div>
</div>

{% endblock %}
