{% extends "body.html" %}
{% block content %}
<style>
.container li { list-style-type: none; border-left: 1px solid lightGray; margin: 0; padding-left: 1em; }
</style>

<h4 style='color:gray' id="response"></h4>
<div id="data" data-comments="{{comments}}"></div>
<div class="container" role="main" id="comments"></div>

<script>
function timeDifference(current, previous) {
    var msPerMinute = 60 * 1000
    var msPerHour = msPerMinute * 60
    var msPerDay = msPerHour * 24
    var msPerMonth = msPerDay * 30
    var msPerYear = msPerDay * 365

    var elapsed = current - previous

    if (elapsed < msPerMinute)
         return Math.round(elapsed/1000) + ' seconds ago'
    else if (elapsed < msPerHour)
         return Math.round(elapsed/msPerMinute) + ' minutes ago'
    else if (elapsed < msPerDay )
         return Math.round(elapsed/msPerHour ) + ' hours ago'
    else if (elapsed < msPerMonth)
        return 'approximately ' + Math.round(elapsed/msPerDay) + ' days ago'
    else if (elapsed < msPerYear)
        return 'approximately ' + Math.round(elapsed/msPerMonth) + ' months ago'
    else
        return 'approximately ' + Math.round(elapsed/msPerYear ) + ' years ago'   
}

	$("#comments").html(function g (html, commentsList) {
		return html + '<ul>' + commentsList.map(e => {
			const sub = e.subcomments.length ? g(html, e.subcomments) : '' 
            console.log(e)
			const timeStr = timeDifference(Date.now(), new Date(e.time)) + ' by ' + e.user
			return `<li><p style="color: gray">${timeStr}</p><p data-id=${e.id}>${e.comment}<p>${sub} </li>`
		}).join('') + '</ul>'
	}('', $("#data").data('comments').list) + '<p data-id=-1>Click to add a comment</p>')

	let li = null;

	$("#comments").click(e => {
		const $target = $(e.target)
		const parentId = e.target.dataset.id
        const groupId = {{group_id}}

		if (!parentId) return

		if (li)
			li.remove()
		li = $('<li>')
		let button = $('<input type=button value=Submit>')
		let inputBox = $('<input>')
		li.append(inputBox)
		li.append(button) 
		button.click(e => {
			$.post('/group/gAddComment', {
				comment: inputBox.val(),
				id: parentId,
                group_id: groupId,
			}, data => {
                if (data['response'] !== '')
                    $("#response").text(data['response'])
                else
                    location.reload()
			})
		})
		if (!$target.children().length)
			$target.append(li)
		else
			$target.children().first().prepend(li)
	});
</script>

{% endblock %}
