{% extends "body.html" %}

{% block content %}

<script>
function timeDifference(current, previous) {
    print 'CVBCVCVB'
    print current
    var msPerMinute = 60 * 1000
    var msPerHour = msPerMinute * 60
    var msPerDay = msPerHour * 24
    var msPerMonth = msPerDay * 30
    var msPerYear = msPerDay * 365

    var elapsed = current - previous

    if (elapsed < msPerMinute)
         return Math.round(elapsed/1000) + ' seconds ago'
    else if (elapsed < msPerHour)
         return Math.round(elapsed/msPerMinute) + ' minutes ago'
    else if (elapsed < msPerDay )
         return Math.round(elapsed/msPerHour ) + ' hours ago'
    else if (elapsed < msPerMonth)
        return 'approximately ' + Math.round(elapsed/msPerDay) + ' days ago'
    else if (elapsed < msPerYear)
        return 'approximately ' + Math.round(elapsed/msPerMonth) + ' months ago'
    else
        return 'approximately ' + Math.round(elapsed/msPerYear ) + ' years ago'   
}

	$("#comments").html(function g (html, commentsList) {
        print commentsList
		return html + '<ul>' + commentsList.map(e => {
			const sub = e.subcomments.length ? g(html, e.subcomments) : '' 
			const timeStr = timeDifference(Date.now(), new Date(e.time))
			return `<li><p style="color: gray">${timeStr}</p><p data-id=${e.id}>${e.comment}<p>${sub} </li>`
		}).join('') + '</ul>'
	}('', $("#data").data('comments').list) + '<p data-id=-1>Click to add a comment</p>')

	let li = null;
	$("#comments").click(e => {
		const $target = $(e.target)
		const parentId = e.target.dataset.id

		if (!parentId) return

		if (li)
			li.remove()
		li = $('<li>')
		let button = $('<input type=button value=Submit>')
		let inputBox = $('<input>')
		li.append(inputBox)
		li.append(button) 
		button.click(e => {
			$.post('/group/addComment', {
				comment: inputBox.val(),
				id: parentId
			}, data => {
				location.reload()
			})
		})
		if (!$target.children().length)
			$target.append(li)
		else
			$target.children().first().prepend(li)
	});
})
</script>

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron" style="background-color:#DDE0F8">
			<h1>{{ group.name }}</h1>
			{% if group.project != None %}
            <h2><a href="/project?name={{ group.project }}">{{ group.project }}</h2>
			{% endif %}
			<p>{{ group.description }}</p>
			{% if userIsMember %}
			<a href="/group/unjoin?name={{ group.name }}" class="btn btn-default">Unjoin this Group</a>
			<a href="/group/update?id={{ group.id }}" class="btn btn-default">Update Group</a>
			{% else %}
			<a href="/group/join?name={{ group.name }}" class="btn btn-default">Join this Group</a>
			{% endif %}
			<a href="/group/getComments" class="btn btn-default">Discuss this Group</a>
		</div>
	</div>
	
	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Users</th>
					</tr>
				</thead>
				<tbody>
					{% for item in group.members.all %}
					<tr>
                        <td><a href="/user?user={{ item.email }}">{{ item.get_full_name }}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	{% if group.project == None %}
    <div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Suggested Projects</th>
					</tr>
				</thead>
				<tbody>
					{% for project in projects %}
					<tr>
                        <td><a href="/project?name={{ project.name }}">{{ project.name }}</a></td>
                        <td>{{ project.description }}</td>
                        <td><a href="/company?name={{ project.company.name }}">{{ project.company.name }}</a></td>
                        <td><a href="/group/accept?group={{ group.name }}&project={{ project.name }}" class="btn btn-default">Accept this Project</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}

{% endblock %}
