{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container" role="main">
		<div class="jumbotron" style="background-color:#DDE0F8">
			<h3 style="margin: 0px; padding: 0px;"> Update Group</h3>
		</div>
		<div class="panel panel-default">
			<form method="post" action="/group/update?id={{ group_id }}" class="panel-body validate">
				{% csrf_token %}
				<label for="name">Name</label>
				<h6 style="color:red">{{ error }}</h6>
				<div class="form-group">
					<input type="text" class="form-control" name="name" id="name"
						placeholder="Group Name" value="{{ group_name }}"
	  					data-bvalidator="required" data-bvalidator-msg="Name Required"></input>
				</div>
				<div class="form-group">
					<label for="description">Description</label>
				    <textarea class="form-control" rows="5" name="description" id="description" 
						placeholder="Please provide a description of the group and its goals." 
	  data-bvalidator="required" data-bvalidator-msg="Description Required"> {{ group_desc }} </textarea>
				</div>
				<div class="form-group">
					<label for="course">Course</label>
					<select class="form-control" name="course" id="course">
						<option>{{ group_course}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="members">Members</label>
					{% for item in group_members %}
					<p> {{ item.name }} </p>
					{% endfor %}
				    <textarea class="form-control" rows="5" name="members" id="members" 
						placeholder="Add students here, one email per line."></textarea>
				</div>
				<input type="submit" value="Update Group" class="btn btn-primary">
				<input type="submit" value="Delete Group" class="btn btn-danger">
			</form>
		</div>
	</div>
{% endblock %}

