{% extends "body.html" %}

{% block content %}
	<div class="container theme-showcase" role="main">
		<div class="jumbotron" style="background-color:#DDE0F8">
            <h3>{{ error }}</h3>
			<h1>{{ group.name }}</h1>
			{% if group.project != None %}
            <h2><a href="/project?name={{ group.project }}">{{ group.project }}</a></h2>
			{% endif %}
			<p>{{ group.description }}</p>
	        {% if group.project != None %}
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ completedWeight }}"
                    aria-valuemin="0" aria-valuemax="{{ totalWeight }}" style="width:{{ completedPercent }}%">
                </div>
            </div>
            {% endif %}
			{% if userIsMember %}
			<a href="/group/unjoin?name={{ group.name }}" class="btn btn-default">Unjoin this Group</a>
			<a href="/group/update?id={{ group.id }}" class="btn btn-default">Update Group</a>
			<a href="/group/remove?name={{ group.name }}" class="btn btn-default">Remove Group</a>
			{% else %}
			<a href="/group/join?name={{ group.name }}" class="btn btn-default">Join this Group</a>
			{% endif %}
		</div>
	</div>
	
	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th><h4>Group Members</h4></th>
					</tr>
				</thead>
				<tbody>
					{% for item in group.members.all %}
					<tr>
                        <td><a href="/user?user={{ item.email }}">{{ item.get_full_name }}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	{% if group.project == None %}
    <div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th><h4>Suggested Projects</h4></th>
					</tr>
				</thead>
				<tbody>
					{% for project in projects %}
					<tr>
                        <td><a href="/project?name={{ project.name }}">{{ project.name }}</a></td>
                        <td>{{ project.description }}</td>
                        <td><a href="/company?name={{ project.company.name }}">{{ project.company.name }}</a></td>
                        <td><a href="/group/accept?group={{ group.name }}&project={{ project.name }}" class="btn btn-default">Accept this Project</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% else %}
    <div class="container" role="main">
        <div class="table-responsive">
            <table class="table table-striped sortable">
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in features %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>
                            <form action="/group/feature/done?group={{ group.name}}&feat_id={{ item.id }}" method="post">
				                {% csrf_token %}
                                <button type="submit" class="btn btn-default">Complete</button>
                            </form>
                        </td>

                    </tr>
                    {% endfor %}
                    {% for item in completeFeatures %}
                    <tr>
                        <td><s>{{item.name}}</s></td>
                        <td><s>{{item.description}}</s></td>
                        <td>
                            <form action="/group/feature/undone?group={{ group.name}}&feat_id={{ item.id }}" method="post">
				                {% csrf_token %}
                                <button type="submit" class="btn btn-default">Incomplete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
	{% endif %}
    <div class="container">

<style>
li#list { list-style-type: none; border-left: 1px solid lightGray; margin: 0; padding-left: 1em; }
</style>

<h4 style='color:gray' id="response">Comments</h4>
<div id="data" data-comments="{{comments}}"></div>
<div class="container" role="main" id="comments"></div>

<script>
function timeDifference(current, previous) {
    var msPerMinute = 60 * 1000
    var msPerHour = msPerMinute * 60
    var msPerDay = msPerHour * 24
    var msPerMonth = msPerDay * 30
    var msPerYear = msPerDay * 365

    var elapsed = current - previous

    if (elapsed < msPerMinute)
         return Math.round(elapsed/1000) + ' seconds ago'
    else if (elapsed < msPerHour)
         return Math.round(elapsed/msPerMinute) + ' minutes ago'
    else if (elapsed < msPerDay )
         return Math.round(elapsed/msPerHour ) + ' hours ago'
    else if (elapsed < msPerMonth)
        return 'approximately ' + Math.round(elapsed/msPerDay) + ' days ago'
    else if (elapsed < msPerYear)
        return 'approximately ' + Math.round(elapsed/msPerMonth) + ' months ago'
    else
        return 'approximately ' + Math.round(elapsed/msPerYear ) + ' years ago'   
}

	$("#comments").html(function g (html, commentsList) {
		return html + '<ul>' + commentsList.map(e => {
            if (e.deleted) {
                return ''
            }
			const sub = e.subcomments.length ? g(html, e.subcomments) : '' 
            const jobStr = e.is_teacher === 'True' ? '<Teacher>' : e.is_engineer === 'True' ? '<Engineer>' : '<Student>'
			const timeStr = timeDifference(Date.now(), new Date(e.time)) + ' by ' + e.user + ' ' + jobStr
			return `<li id="list"><p style="color: gray">${timeStr}</p><p data-id=${e.id} data-op='${e.user}'>${e.comment}<p>${sub} </li>`
		}).join('') + '</ul>'
	}('', $("#data").data('comments').list) + '<p data-id=-1>Click to add a comment</p>')

	let li = null;

	$("#comments").click(e => {
		const $target = $(e.target)
		const parentId = e.target.dataset.id
		const opId = e.target.dataset.op
        const groupId = {{group_id}}

		if (!parentId) return

		if (li)
			li.remove()
		li = $('<li id="list">')
		let button = $('<input type=button value=Submit>')
		let inputBox = $('<input>')
		li.append(inputBox)
		li.append(button) 

        let del_button = $('<br><input style="color:red" type=button value="Delete Comment">')
        if (opId === '{{user}}')
            li.append(del_button)

        del_button.click(e => {
			$.post('/group/gDeleteComment', {
				comment_id: parentId,
			}, data => {
				location.reload()
			})
		})

		button.click(e => {
			$.post('/group/gAddComment', {
				comment: inputBox.val(),
				id: parentId,
                group_id: groupId,
                university: '{{university}}',
			}, data => {
                if (data['response'] !== '')
                    $("#response").text(data['response'])
                else
                    location.reload()
			})
		})
		if (!$target.children().length)
			$target.append(li)
		else
			$target.children().first().prepend(li)
	});
</script>
	</div>

{% endblock %}
