{% extends "body.html" %}

{% block content %}

	<!-- Content -->
    <div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1 class="text-center">Hi There!</h1>
			<p class="text-center">Welcome to the CS390-Python CS Capstone Project.</p>
			<br>
			<div class="container">
				<div class="row jumbotron-area">
					<div class="col-md-6">
						<p class="text-center"><a href="/login" class="btn btn-primary btn-lg" role="button">Log In</a></p>
					</div>
					<div class="col-md-6">
						<p class="text-center"><a href="/register" class="btn btn-primary btn-lg" role="button">Register</a></p>
					</div>
				</div>
			</div>
		</div>
    </div>

{% endblock %}
