{% extends "body.html" %}

{% block content %}
<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron" style="background-color:#D9F9E7">
			<h1 class="col-lg-offset-3"> {{ course.name }}<small> {{ course.tag }} </small></h1>

			<div class="row">
				<div class="col-md-3">
					<img src="/{{ course.photo }}" alt="Course Image" width="150" class="img-responsive"/>
				</div>

				<div class="col-md-9">
					<p>{{ course.description }}</p>
					<p><strong>Instructors</strong> |
					{% for item in course.members.all %}
					{% if item.is_teacher %}
					<a href="/user?user={{item.email}}">{{ item.get_full_name }}</a> |
					{% endif %}
					{% endfor %}
					<br>
					<br>
					{% if user.is_student and userInCourse %}
					<a href="/university/course/unjoin?name={{ university.name }}&course={{ course.tag }}" class="btn btn-default">Leave this Course</a>
					{% elif user.is_student %}
					<a href="/university/course/join?name={{ university.name }}&course={{ course.tag }}" class="btn btn-default">Join this Course</a>
					{% endif %}
					{% if user.is_teacher or user.is_admin %}
					<a href="/university/course/remove?name={{ university.name }}&course={{ course.tag }}" class="btn btn-default">Delete this Course</a>
					<a href="/university/course/manage?name={{ university.name }}&course={{ course.tag }}" class="btn btn-default">Manage this Course</a>
					<a href="/university/course/update?name={{ university.name }}&course={{ course.tag }}" class="btn btn-default">Update this Course</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% if user.is_student and userInCourse %}
    <div class="container" role="main">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Compatible Teammates</th>
					</tr>
				</thead>
				<tbody>
					{% for item in teammates %}
					<tr>
                        <td><a href="/user?user={{item.email}}">{{ item.get_full_name }}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
    {% endif %}
    <div class="container" role="main">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Students</th>
					</tr>
				</thead>
				<tbody>
					{% for item in course.members.all %}
					<tr>
                        <td><a href="/user?user={{item.email}}">{{ item.get_full_name }}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
{% endblock %}
